@font-face {
    font-family: first;
    src: url(./silkserif-regularitalic-webfont.ttf);
}
@font-face {
    font-family: second;
    src: url(./plain-light-webfont.ttf);
}
* {
margin:0;
padding:0;
box-sizing:border-box;
}
html,body{
height:100%;
width:100%;
}
#loader{
    width: 100%;
    height: 100vh;
    background-color: #151515;
    position: fixed;
    z-index: 99;
    color: white;
    padding-top: 6vw;
    padding-left: 5vw;

}
.load{
    font-size: 3.5vw;
    font-family: second;
    margin-bottom: 2px;
    line-height: 7.3vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 16vh;
}
.load h2{
    font-size: 7vw;
    margin-left: 2vw;
    animation-name: now;

    animation-timing-function: linear;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;

}
@keyframes now {
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 1px transparent;
        opacity: 1;
        color: white;
        font-weight: 100;
    }
    45%{
        font-family: "plain light";
        -webkit-text-stroke: 1px transparent;
        opacity: 0;
        color: white;
        font-weight: 100;
    }
50%{
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    opacity: 1;
    color: transparent;
    font-weight: 100;
}

95%{
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    opacity: 0;
    color: transparent;
    font-weight: 100;
}
100%{
    font-family: "plain light";
    -webkit-text-stroke: 1px transparent;
    opacity: 1;
    color: white;
    font-weight: 100;
}
}

.timer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 16vw;
    font-family: first;
    margin-right: 2vw;
}
.timer h3{
    font-size: 4vw;
}
.timer h4{
    font-size: 4.5vw;
}

#page1{
    width: 100%;
    height: 100vh;
    background-color:#151515;
    position: relative;
}
#page2{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color:#151515;
}